@use "@material/theme" with (
  $primary: #6A1C94,
  $secondary: #7B1EA2,
  $background: #C6B6CF,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";

@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
  //background-color: #C6B6CF;
  background-image : url("background1.png");
  background-repeat: repeat;
  background-size: 100%;
  background-position: top;
}

.mdc-card__media-content{
  background-image: url("perfil.jpg");
  background-size: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
  @include icon-button.core-styles;
}

.mdc-tab-bar {
  width: fit-content;
}

section {
  text-align: center;
}

.content {
  margin: 10rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.mdc-card {
  height: 350px;
  width: 350px;
}

.mdc-card-content {
  padding: 16px;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab {
    background-color: #67daff;
}

.mdc-tab__content .mdc-tab__text-label {
    color: black;
}

.mdc-text-field {
    margin: 1rem auto;
}

.button {
  margin-top: 1rem;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #67daff;
}